.container{
  padding: 2rem;
  position: relative;
  
}

.taskDetails{
  padding: 1rem 2rem;
  overflow-y: scroll;
  min-height: 75vh;
  max-height: 75vh;
  border: 1px solid;
}
.inputArea{
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  
}